<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>用户登录</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="css/easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="css/easyui/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="css/reset.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="css/text.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="css/grid.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="css/default.css" media="screen" />
	<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="js/jquery.easyui.min.1.4.5.js"></script>
	<script type="text/javascript" src="js/easyui-lang-zh_CN.js"></script>
	<script type="text/javascript">
		document.onkeydown = function (e) {
			var event = e || window.event;
			var code = event.keyCode || event.which || event.charCode;
			if (code == 13) { login(); }
		}

		$(function () {
			$("input[name='login']").focus();
		});
		function reset() {
			$('#loginForm')[0].reset();
		}
		function login() {

			if(!$("#loginForm").form('validate')){
				return false;
			}

			if ($("input[name='username']").val() == "" || $("input[name='password']").val() == "") {
				$("#showMsg").html("用户名或密码为空，请输入");
				$("input[name='login']").focus();
			} else {
			//ajax异步提交
			 $.ajax({
			 	type: "POST",
			 	url: "/login",
				data: $("#loginForm").serialize(),
			 	error: function (request) {
			 			$("#showMsg").html(request);
					},
			 	success: function (data) {
			 			document.location = "/index";
					}
			 });
			}
		}
	</script>
</head>
<body>
<div id="loginWin" class="window" title="登录" style="width:320px;height:160px;padding:5px;left: 50%; top: 50%; margin: -86px 0 0 -160px;" minimizable="false" maximizable="false" resizable="false" collapsible="false">
	<div class="easyui-layout" fit="true">
		<div region="center" border="false" style="padding:5px;background:#fff;border:1px solid #ccc;">
			<!--<div th:if="${param.error}">-->
				<!--Invalid username and password.-->
			<!--</div>-->
			<!--<div th:if="${param.logout}">-->
				<!--You have been logged out.-->
			<!--</div>-->
			<form id="loginForm" method="post">
				<div style="padding:5px 0;">
					<label for="username">帐号:</label>
					<input type="text" name="username" class="easyui-validatebox" data-options="required:true,validType:'length[1,10]'" style="width:260px; height: 20px;" />
				</div>
				<div style="padding:5px 0;">
					<label for="password">密码:</label>
					<input type="password" name="password" class="easyui-validatebox" data-options="required:true,validType:'length[1,10]'" style="width:260px; height: 20px;" />
				</div>
				<div style="padding:5px 0 0;">
					<label for="remember-me">记住我:</label>
					<input type="checkbox" name="remember-me" class="easyui-validatebox" data-options="required:true,validType:'length[1,10]'" style="width:260px; height: 20px;" />
				</div>
				<div style="text-align: center">
					<a style="padding:0px 15px 0px 15px;" class="easyui-linkbutton" href="javascript:void(0)" onclick="reset()">重置</a>
					<a style="padding:0px 15px 0px 15px;" class="easyui-linkbutton" href="javascript:void(0)" onclick="login()">登录</a>
				</div>
				<div style="text-align: center;color: red;" id="showMsg"></div>
			</form>
		</div>
	</div>
</div>
</body>
</html>
